{% extends "picu/index.html" %}
{% load i18n admin_urls static admin_list admin_modify %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/static/picu/js/plotly-latest.min.js"></script>
	<script type="text/javascript">

        django.jQuery(document).ready(function($) {
            var trace1 = {
              x: [
                {% for i in x_range %}
                   {{ i }} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              y: [
              {% for key, value in full_cusum_llr %}
                   2.9 {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              mode: 'markers',
              marker: {symbol: 'line-ew-open'},
              type: 'scatter'
            };

            var trace2 = { x: [0,{{full_cusum_llr_count }}], y: [-4.6, -4.6], mode: 'lines',type: 'scatter'};
            var trace3 = {x: [0,{{full_cusum_llr_count }}], y: [4.6, 4.6], mode: 'lines', type: 'scatter'};

            var trace4 = {
              x: [
                {% for i in x_range %}
                   {{ i }} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              y: [
              {% for key, value in full_cusum_llr %}
                   -2.9 {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              mode: 'markers',
              marker: {symbol: 'line-ew-open'},
              type: 'scatter'
            };

            var full_cusum_llr = {
              x: [
                {% for key, value in full_cusum_llr %}
                   {{ value }} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              y: [
                {% for key, value in full_cusum_llr %}
                   {{ key }} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              mode: 'lines',
              type: 'scatter'
            };
            var data = [trace1, trace2, trace3, trace4, full_cusum_llr];
            var layout = {
              xaxis: {
                range: [ 1, {{full_cusum_llr_count }}],
                type: 'linear',
                rangemode: 'tozero',
                anchor: 'free',
                position: 0,
                anchor: 'y0'
              },
              yaxis: {
                range: [-6, 6]
              },
              title:'Data Labels Hover'
            };

            //=========================== smr

            var smex = {
                x: [
                    {% for key in x_range %}
                        {{key}} {% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],

              close: [
                {% for key, value in smr %}
                    {{key.0}} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],

              decreasing: {line: {color: '#7F7F7F'}},

              high: [
                {% for key, value in smr %}
                    {{key.2}} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],
              increasing: {line: {color: '#17BECF'}},
              line: {color: 'rgba(31,119,180,1)'},

              low: [
                {% for key, value in smr %}
                    {{key.1}} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],

              open: [
                {% for key, value in smr %}
                    {{key.0}} {% if not forloop.last %},{% endif %}
                {% endfor %}
              ],

              type: 'candlestick',
              xaxis: 'x',
              yaxis: 'y'
};

var data_smex = [smex];

var layout_smex = {
  //dragmode: 'zoom',
  //margin: {
   // r: 10,
   // t: 25,
    //b: 40,
    //l: 60
  //},
  showlegend: false,
  xaxis: {
    autorange: true,
    //domain: [0, 1],
    range: [0, {{ full_cusum_llr_count }}],
    title: 'Number',
    type: 'float'
  },
  yaxis: {
    autorange: true,
    domain: [0, 1],
    range: [{{smr_y_range.0}}, {{ smr_y_range.1 }}],
    type: 'linear'
  }
};

            Plotly.newPlot('smr_chart', data_smex, layout_smex);
            Plotly.newPlot('cusum_llr_chart', data, layout);
        });

	</script>

{% endblock %}

{% block breadcrumbs %}
    <header>
        <div class="nav">
          <ul>
            <li class="home"><a class="li-nav" href="{% url 'picu:home' %}">Home</a></li>
            <li class="summary"><a class="li-nav" href="{% url 'picu:summary_reports' %}">Summary Reports</a></li>
            <li class="charts"><a class="li-nav active" href="{% url 'picu:charts' %}">Charts</a></li>
          </ul>
        </div>
    </header>
    <div class="breadcrumbs">
        <a href="{% url 'picu:home' %}">{% trans 'Home' %}</a> &rsaquo;&rsaquo; {% trans 'Summary Reports' %}
    </div>
{% endblock %}

{% block content %}
	<div id="content-main">

        <div id="year-select" class="module filtered">
            <div class="results">
                <div>
                    {{hospital}} {{year}}
                    <select id="year-form-select" name="year">
                        {% for op in years %}
                            <option value="{{op}}" {% if year == op %} selected {% endif %}>{{op}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id=""><span class="cell-data"><div id="smr_chart"></div></span><span class="cell-data"><div id="cusum_llr_chart"></div></span></div>
        </div>

        <div id="cusum_chart"></div>

        <div id="cusum_llr_truc_chart"></div>

    </div>
{% endblock %}