<!-- index page shows a searchable form and a link to anter a new admission via a number of routes-->
{% extends "admin/change_list.html" %}

{% block nav-global %}
    <a class="admin_link" href="{% url 'admin:index' %}"><img id="admin_link_id" src="/static/picu/img/user-admin-gear.png" alt="admin"></a>
{% endblock %}

{% load i18n admin_urls static admin_list admin_modify %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/picu/css/vendor/datatables/datatables.css"/>
    <link rel="stylesheet" type="text/css" href="/static/picu/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
{% endblock %}
{% block extrahead %}

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/dataTables.buttons.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/jszip.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/buttons.print.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/buttons.flash.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/pdfmake.min.js"></script>
    <script type="text/javascript" src="/static/picu/js/vendor/datatables/vfs_fonts.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/collapse.js"></script>



	<script type="text/javascript">
        django.jQuery(document).ready(function($) {
            $('#patient-search-results').DataTable();
        });

	</script>

{% endblock %}
{% block bodyclass %}{{ block.super }} app-picu change-list {% endblock %}

{% block breadcrumbs %}
<header>
    <div class="nav">
      <ul>
        <li class="home"><a class="li-nav active" href="{% url 'picu:home' %}">Home</a></li>
        <li class="summary"><a class="li-nav" href="{% url 'picu:summary_reports' %}">Summary Reports</a></li>
        <li class="charts"><a class="li-nav" href="{% url 'picu:charts' %}">Charts</a></li>
      </ul>
    </div>
</header>

<div class="breadcrumbs">&nbsp;Home</div>
{% endblock %}

{% block content %}
	<div id="content-main">
		{% block object-tools %}
            <ul class="object-tools">
                <li>
                  <a href="{% url 'admin:picu_admission_add' %}" class="addlink">New Admission</a>
                </li>
            </ul>
        {% endblock %}
        <div id="searchform" class="module filtered">
            <div class="actions">
                <form id="search-patient-form" action="{% url 'picu:patient_search' %}" method="post">
                    <div>
                        {% csrf_token %}
                        <table>
                            {{form}}
                        </table>
                         <input type="submit" value="Search">
                    </div>
                </form>
            </div>

            <div class="clear"><br/><hr/></div>

            {% if patient_list %}

            <div id="changelist" class="results">
                <table id="patient-search-results" width="100%">
                    <caption>
                        <a href="#" class="section" title="patients">Patients matched</a>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col" class="sortable column-first_name">
                               <div class="text">First name</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-second_name">
                               <div class="text">Second name</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-gender">
                               <div class="text">Gender</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-date_of_birth">
                               <div class="text">Date of Birth</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-hiv">
                               <div class="text">Hiv</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col" class="sortable column-age_in_months">
                               <div class="text">Age in Months</div>
                               <div class="clear"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patient_list %}
                            <tr class="{% cycle 'row1' 'row2' %}">
                                <th class="field-first_name">
                                    <!-- link to view the patient details + all admissions-->
                                    <a href="{% url 'picu:patient_view' patient.id  %}">{{ patient.first_name }}</a>
                                </th>
                                <td class="field-second_name">{{ patient.second_name }}</td>
                                <td class="field-gender">{{ patient.gender }}</td>
                                <td class="field-date_of_birth nowrap">{{ patient.date_of_birth }}</td>
                                <td class="field-hiv">{{ patient.get_hiv_display }}</td>
                                <td class="field-age_in_months">{{ patient.age_in_months }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>
                {% trans "No patients available" %}
            </p>
        {% endif %}
        </div>
    </div>
{% endblock %}