{% load floppyforms %}

<datalist id="datalist_{{ attrs.id }}">

</datalist>
<div id="yay" class="vDatalistManyTpManyAdminField"></div>
<input type="hidden" name="{{ attrs.name }}" id="hidden_{{ attrs.id }}" value=""/>
<input list="datalist_{{ attrs.id }}" id="{{ attrs.id }}" class="vDatalistManyToManyAdminField"/>


<script type="text/javascript">

django.jQuery(document).ready(function($) {


    function attachValue(val) {
        var currentVal = $("#hidden_{{ attrs.id }}").val();
        if(currentVal) {
            $("#hidden_{{ attrs.id }}").val(currentVal + "," + val);
        } else {
            $("#hidden_{{ attrs.id }}").val(val);
        }
    }

    function displayFoundData(e) {
        var xyz;
        if (e.keyCode === 10 && e.keyCode === 13) {
            console.log('ignored');
        } else if (e.which != 9 && e.which != 19 && e.which != 91 && e.which != 27 && e.which != 16) {
            var val = $('#{{ attrs.id }}').val();
            if(val) {
                xyz = $('#datalist_{{ attrs.id }} option').filter(function() {
                    return this.value === val;
                }).attr('label');
                if(xyz) {
                    $("#yay").append(function() {
                        var elem = $("<div><span>" + xyz + "</span><span><img src='/static/admin/img/icon-deletelink.svg' alt='Delete' class='deletable'/></span></div>");
                        return elem.on('click', function(e) {
                            elem.remove();
                            // remove the id from the hidden field
                            var hiddenFld = $("#hidden_{{ attrs.id }}");
                            var selectedItems = hiddenFld.val().split(',');
                            hiddenFld.val('');
                            selectedItems.each(function(x) {
                                attachValue(x);
                            });
                         });
                    });
                    attachValue(val);
                }
            }
        }
        return xyz;
    }

    $('#{{attrs.id}}').on("keyup", function (e) {
        var found = displayFoundData(e);
        if(!found) {
            var options = {};
            options.url = "{{ attrs.search_url }}";
            options.type = "GET";
            options.data = { "criteria": $("#{{ attrs.id }}").val() };
            options.dataType = "json";
            options.success = function(data) {
                $("#datalist_{{ attrs.id }}").empty();

                for(var i=0;i<data.length;i++) {
                    var newOption = $("<option value='" + data[i].pk + "' label='" + data[i].fields.name + " | " + data[i].fields.icd_10_code +  "'></option>");
                    $("#datalist_{{ attrs.id }}").append(newOption);
                }
                $('#{{attrs.id}}').off("input");
                $('#{{attrs.id}}').on("input", function (e) {
                    displayFoundData(e);
                });
            };
            $.ajax(options);
         }
    });
});
</script>